<div class="marginTopL marginBot">
  <div class="card">
    <div class="card-block">
			<div id="mc_embed_signup">
				<form action="//sevasports.us7.list-manage.com/subscribe/post?u=3aede990e8487c52dae21db6e&amp;id=6036f3904b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate inline-form" target="_blank" novalidate>
					<div class="row" id="mc_embed_signup_scroll">
						<h6 class="col-md-12 center" style="margin-bottom: 25px; color: #424242;">GET THE BEST PLAYERS DIRECTLY IN YOUR INBOX</h6>
						<input type="email" name="EMAIL" class="sign-up form-control col-sm-5 offset-sm-2" id="mce-EMAIL" placeholder="YOUR EMAIL">
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3aede990e8487c52dae21db6e_6036f3904b" tabindex="-1" value=""></div>					
						<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary col-sm-2 offset-sm-1 mobile-btn-top">SUBSCRIBE »</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>