<div class="marginTop marginBottomS">
  <div class="card">
    <div class="card-block">
			<h5 class="col-md-12 center" style="margin-bottom: 15px; color: #424242;">WELCOME TO SEVA.</h5>
			<p class="center" style="color: #424242;">SEVA IS A STATISTICAL PERSEPCTIVE ON HIGH SCHOOL BASKETBALL PLAYERS.</p>
		</div>
	</div>
</div>