<div class="jumbotron height-md flex-center">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 center">
        <h1 class="jumbo-header dark">Pricing</h1>
        <!-- <h4 class="dark">Access 5,000+ current high school player evaluations</h4> -->
      </div>
    </div><!-- row -->
  </div><!-- container -->
  <div class="tilt">
  </div>
</div><!-- jumbotron -->
<div class="container top-sm bottom-l">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card" style="box-shadow: rgba(29,29,31,0.07) 0 10px 60px;">
				<div class="card-header center">
				  <h1 class="jumbo-header card-title">$59<span style="font-size: 18px;">/m</span></h1>
				  <h6>Billed Annually</h6>
				</div>
        <div class="card-block">
          
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Unlimited Access to 5K+ Players</li>
          <li class="list-group-item">4 Quarterly Lists.</li>
          <li class="list-group-item">5 Users/School</li>
          <li class="list-group-item">24/7 Customer Support</li>
          <li class="list-group-item">Cancel Anytime</li>
        </ul>
        <div class="card-block">
          <%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>