<div class="jumbotron height-md flex-center">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 center">
        <h1 class="jumbo-header dark">What is a SEVA Score</h1>
        <!-- <h4 class="dark">Access 5,000+ current high school player evaluations</h4> -->
      </div>
    </div><!-- row -->
  </div><!-- container -->
  <div class="tilt">
  </div>
</div><!-- jumbotron -->
<div class="container top bottom-l">
  <div class="row">
  <div class="col-md-10 offset-md-1">
    <p>SEVA uses a 1-10 rating system called the "SEVA Score." Every high school player who registers stats and plays in at least 10 games in a season at the varsity level is eligible for a SEVA Score. Similar to the usual 5 Star rating system, the bigger the number the better the evaluation.</p>
  </div>
  <div class="col-md-10 offset-md-1 top-xs">
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div>
        <div role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h5 class="mb-0">
              8-10 | High DI
          </h5>
          <hr>
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <p>
            <p>
            Players fill out the stat sheet and excel at multiple statistical categories. Players often average 20+ PPG,  6+ RPG, and  3+ APG.
            Example: 22 PPG, 9 RPG, 3 APG, 2 SPG, 1 BPG.
            Players won most of their games in a high classification.
            Example: winning 80%+ of the games in the state's top classification (i.e. 5A).
            Player has multiple exceptional physical traits such as height, youth, or length.
            Example: player is 6'8" and growing.
            <p>Players typically have elite skills in 4+ of these categories:</p>
            <ul>
                <li>Winning</li>
                <li>Scoring</li>
                <li>Rebounding</li>
                <li>Passing</li>
                <li>Defense</li>
            </ul>
            Diversity: players have multiple elite skills.
            Specialist: players have at least one elite skill (i.e. shooting).
            Efficiency: players are efficient in their play.
            Champion: players win at elite levels.
            Physicality: players have elite physical capabilities.
            </p>
          </p>        
        </div>
      </div>
      <div>
        <div role="tab" id="headingTwo" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h5 class="mb-0">
              6-7 | Mid Major
          </h5>
          <hr>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
           <p>
              Players excel at one statistical category, but are average at other categories. Players often average 18+ PPG, but have average numbers in other categories.
              Example: 20 PPG, 5 RPG, 3 APG, 1 SPG, 1 BPG
              Players won more than half of their games in a high classification.
              Example: winning 70%+ of the games in the state's top classification (i.e. 5A).
              Player has at least one exceptional physical trait such as height, youth, or length.
              Example: player is 6'1" and has 32" vertical leap.
              <p>Players typically have elite skills in 4+ of these categories:</p>
              <ul>
                  <li>Winning</li>
                  <li>Scoring</li>
                  <li>Rebounding</li>
                  <li>Passing</li>
                  <li>Defense</li>
              </ul>
              Specialst players have at least one elite skill (i.e. shooting).
              Efficiency: players are efficient in their play.
              Winning: players win at high levels.
          </p>
        </div>
      </div>
      <div>
        <div role="tab" id="headingThree" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h5 class="mb-0">
              4-5 | Low DI
          </h5>
          <hr>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <p>
            Players post good (but not exceptional) numbers across the stat sheet. Players often average 15+ PPG with average numbers in other categories.
            Example: 16 PPG, 3 RPG, 5 APG, 1 SPG, 1 BPG
            Players won at least half of their games in a high classification OR players won most of their games in a middle classification.
            Example: winning 60%+ of the game sin the state's top classification (i.e. 5A).
            Example: winning 80%+ of the game sin the state's mid classification (i.e. 3A).
            Player has no exceptional physical traits, but no glaring weak traits.
            Example: player is a 6'3" junior, possibly growing.
            <p>Players typically have elite skills in 4+ of these categories:</p>
            <ul>
                <li>Winning</li>
                <li>Scoring</li>
                <li>Rebounding</li>
                <li>Passing</li>
                <li>Defense</li>
            </ul>
            Specialst: players have at least one quality skill (i.e. shooting).
            Winning: players win at quality levels.
          </p>
          <p>
        </div>
      </div>
    <div>
      <div role="tab" id="headingFour" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <h5 class="mb-0">
            2-3 | JUCO/NAIA/D11/D111
        </h5>
        <hr>
      </div>
      <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
         <p>Players post good numbers, but show weaknesses in certain categories. Players often average 13+ PPG with poor to average numbers in other categories.
          Example: 14 PPG, 3 RPG, 2 APG, 1 SPG, 0 BPG
          Players won an average amount of games in a high classification OR won a high amount of games in a middle classification.
          Example: winning 40%+ of the games in the state's top classifications (i.e. 5A).
          Example: winning 70%+ of the games in the state's low-mid classifications (i.e. 2A).
          Player has no exceptional physical traits, and only one weak trait.
          Example: player is a 5'11" junior, but possibly growing.
          <p>Players typically have elite skills in 4+ of these categories:</p>
          <ul>
              <li>Winning</li>
              <li>Scoring</li>
              <li>Rebounding</li>
              <li>Passing</li>
              <li>Defense</li>
          </ul>
          HS Starter: players likely start for their HS teams.
          Competitive: players compete in almost every game.
        </p>
      </div>
    </div>
    <div>
      <div role="tab" id="headingFive" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <h5 class="mb-0">
            0-1 | High School
        </h5>
        <hr>
      </div>
      <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
        <p>Players post minimal to average numbers in all categories. The majority of high school players fall in this range.
          Example: 6 PPG, 2 RPG, 1 APG, 1 SPG, 0 BPG
          Players won a low amount of games in a high classification OR an average amount of games in a low or mid classification.
          Example: winning 30%+ of games in the state's top classifications (i.e. 5A).
          Example: winning 50%+ of games in the state's low-mid classifications (i.e. 2A).
          Player has below or average physical traits.
          Example: player is a 6'0" senior with a 21" vertical leap.
          <p>Players typically have elite skills in 4+ of these categories:</p>
          <ul>
              <li>Winning</li>
              <li>Scoring</li>
              <li>Rebounding</li>
              <li>Passing</li>
              <li>Defense</li>
          </ul>
          Contributor: players contribute to their team's success.
          Participate: players participate on the team.
          </p>
      </div>
    </div>
  </div><!-- offset-md-10 -->
  </div><!-- row -->
</div>
