<div class="footer">
  <div class="container">
    <section class="row">
    	<div class="col-md-10 offset-md-1 center">
        <%#= link_to image_tag('seva-logo.png', width: 75), root_path %> 
        <%= link_to "SEVA SCORE", seva_score_path %>
        <%= link_to "TERMS & CONDITIONS", terms_path %>
        <%= link_to "PRIVACY", privacy_path %>
    	</div>
      <div class="col-md-10 offset-md-1 top-xs">
        <h6><small>Legal Notices</small></h6>
        <p><small>
        <strong>Trademarks</strong> - SEVA, SEVA Sports, SEVA Score, sevasports.com, and the SEVA Sports Logos are trademarks and property of SEVA Sports, LLC. All other trademarks mentioned herein are the property of their respective owners. Any and all usage of university trademarks, wordmarks and logos are purely for identification purposes. SEVA Sports is not affiliated with any university in any way, further all content on SEVA Sports is for news purposes only.
        </small></p>
        <p><small>
        <strong>Data</strong> - All data sourced from third party sources, including but not limited to individual player stats and individual player star evaluations are used under the doctrine of fair use, and all such evaluative data remain the exclusive property of the original source.
        </small></p>
      </div>
      <div class="col-md-10 offset-md-1" style="padding-top: 10px;">
        <hr/>
        <h6><small>&copy; 2017 SEVA SPORTS, LLC. ALL RIGHTS RESERVED</small></h6>
      </div>
    </section>
  </div>
</div>